.App-logo {
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding: 10px;
  color: #282c34;
}

.day {
  padding: 5px;
  font-size: calc(2vmin - 7px);
  width: calc(3vmin);
  height: calc(3vmin);
  display: inline-block;
  border: 2px solid black;
  margin: 3px;
  color: #fff
}

.week {
  padding: 8px;
  width: calc(4vmin);
  height: calc(4vmin);
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
  color: #fff
}

.month {
  padding: 10px;
  width: calc(6vmin);
  height: calc(6vmin);
  display: inline-block;
  border: 2px solid black;
  margin: 10px;
  color: #fff
}

option, select {
  border: 0 none;
  font-size: calc(3vmin);
}